<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MyComponentGroup">
            <Component Id="cmp94BCE64DB0ECB856FCCD17E754E7DC8F" Directory="INSTALLFOLDER" Guid="{25F35049-59C4-49D0-B310-CDC7620B2FB4}">
                <File Id="filE039E12D72E53561FEFC0BA96CC2B0B4" KeyPath="yes" Source="$(var.SourceFilesDir)\main.ps1" />
            </Component>
            <Component Id="cmp977C2FF9A99D0FC114AF56DBFEEAAD4C" Directory="INSTALLFOLDER" Guid="{6BEEE0B5-B600-4C02-9FCE-7AD0FF5E10B8}">
                <File Id="filF25429031DF0DAAE19C12C1325AF43A2" KeyPath="yes" Source="$(var.SourceFilesDir)\quser.psm1" />
            </Component>
            <Component Id="cmp20FB9A941295A8741186B850BDC96548" Directory="INSTALLFOLDER" Guid="{A321079D-9A0C-44D1-A89C-1AD39E6176E2}">
                <File Id="fil6BEB8842620268F5A7E0E36CB6D82104" KeyPath="yes" Source="$(var.SourceFilesDir)\run_once.ps1" />
            </Component>
            <Component Id="cmp8FCF62D51C309DFE8CF95F44541E05ED" Directory="INSTALLFOLDER" Guid="{35B7A33D-673E-4FC7-BAD6-B2FE979A84D8}">
                <File Id="fil2F9D2FE69C3ACD2537895280D35CE652" KeyPath="yes" Source="$(var.SourceFilesDir)\run_once.vbs" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>