<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MyComponentGroup">
            <Component Id="cmpE8338926A5ECB6D2EBFCB8CF7A1B3D55" Directory="APPLICATIONROOTDIRECTORY" Guid="E5B8CB97-2455-4D5D-BC10-1978462E1FBA">
                <File Id="filA48FEF089A999BF1A517242D014AE962" KeyPath="yes" Source="$(var.SourceFilesDir)\main.ps1" />
            </Component>
            <Component Id="cmp963CB76CF59E75FB53C885687E93ACC2" Directory="APPLICATIONROOTDIRECTORY" Guid="E4AFD442-4FC8-4017-9F9D-A6E46B0D89B2">
                <File Id="filB38CCFD221473EF5FB9875D8EE7C34BC" KeyPath="yes" Source="$(var.SourceFilesDir)\quser.psm1" />
            </Component>
            <Component Id="cmp55966D8A7985EF96B1AA99C4EE0AE316" Directory="APPLICATIONROOTDIRECTORY" Guid="86C6D1B0-DDBF-44AA-A791-A5CE350C084C">
                <File Id="filBE21DD6AFCB4C7B97B55F6CBD7F9DF79" KeyPath="yes" Source="$(var.SourceFilesDir)\run_once.vbs" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>