<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MyComponentGroup">
            <Component Id="cmpE76C244CBC80D20FCED7E15A6F991033" Directory="TARGETDIR" Guid="7CC95ACA-24A7-4BD4-86E1-66E08062DBD4">
                <File Id="fil3811A9FAF1161EF118881E2217663376" KeyPath="yes" Source="SourceDir\main.ps1" />
            </Component>
            <Component Id="cmpE573A54AA38E1756571D22698449D4AF" Directory="TARGETDIR" Guid="4F639E39-882C-4693-AFBC-1D32FA826440">
                <File Id="fil0E2F2070EA8B8B9115643D0CC6338D89" KeyPath="yes" Source="SourceDir\quser.psm1" />
            </Component>
            <Component Id="cmp359653027C18456A51646503C8990349" Directory="TARGETDIR" Guid="B670A26D-5B03-40B9-BCEB-6E4D105D5AD6">
                <File Id="filCDBFC476E201CDA98904173CF52D4D3C" KeyPath="yes" Source="SourceDir\run_once.ps1" />
            </Component>
            <Component Id="cmp3A0FBE1A0C340A8B7A0D30BBED13CC7F" Directory="TARGETDIR" Guid="D94D3440-DAD0-4339-947F-7215C30C3070">
                <File Id="filC2167BBB0F6E3A3AEBB0863FD3D3555B" KeyPath="yes" Source="SourceDir\run_once.vbs" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>