<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="5d84cf8c-8387-45d2-b4f8-c8b963228f53" Language="1033" Manufacturer="Streambox" Name="Quserwrapper" UpgradeCode="b7e81b89-0e7c-4caa-ac90-880386754c11" Version="1.0.0.0">
        <Package Compressed="yes" InstallerVersion="200" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="dirC59B4A5EBD02923C2D2174DAF2A24F9C" Name="Work">
                      <Directory Id="ProgramFilesFolder">
                
                <Component Id="cmp25070941A87FD1A9BADA0DF764F21799" Guid="*">
                    <File Id="filC121397BB69C8CB91178500ED06734F4" KeyPath="yes" Source="$(var.SourceFilesDir)\main.ps1" />
                </Component>
                <Component Id="cmp8D00B9B3508B1477A7326EB9845548CD" Guid="*">
                    <File Id="fil9B4794A94687B16F6D02B2075FB98834" KeyPath="yes" Source="$(var.SourceFilesDir)\quser.psm1" />
                </Component>
                <Component Id="cmp8079D876C6A8D76FADB80E80FC9909A1" Guid="*">
                    <File Id="fil6E4A90F142967A3190F7F46B525CBCFC" KeyPath="yes" Source="$(var.SourceFilesDir)\run_once.ps1" />
                </Component>
                <Component Id="cmp58D54AE1C048F2D8F15EFE51BA965A48" Guid="*">
                    <File Id="filFFDFCA4A3101FFAD35C9D78426A18ADB" KeyPath="yes" Source="$(var.SourceFilesDir)\run_once.vbs" />
                </Component>
            </Directory>

            </Directory>
        </Directory>
        <Feature Id="ProductFeature" Level="1" Title="Quserwrapper" />
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    </Product>
</Wix>
