<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="{87191b46-a030-4617-b260-349bb03218fb}" Language="1033" Manufacturer="Streambox" Name="Quserwrapper" UpgradeCode="{c4473740-e224-4e6f-b5c9-f3c49953078e}" Version="1.0.0.0">
        <Package Compressed="yes" InstallerVersion="200" />
        <Directory Id="TARGETDIR" Name="SourceDir" />
        <Feature Id="ProductFeature" Level="1" Title="Quserwrapper">
            <ComponentGroupRef Id="myCG" />
        </Feature>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    </Product>
    <Fragment>
        <ComponentGroup Id="myCG">
            <Component Id="cmp25070941A87FD1A9BADA0DF764F21799" Directory="dirC59B4A5EBD02923C2D2174DAF2A24F9C" Guid="*">
                <File Id="filC121397BB69C8CB91178500ED06734F4" KeyPath="yes" Source="SourceDir\main.ps1" />
            </Component>
            <Component Id="cmp8D00B9B3508B1477A7326EB9845548CD" Directory="dirC59B4A5EBD02923C2D2174DAF2A24F9C" Guid="*">
                <File Id="fil9B4794A94687B16F6D02B2075FB98834" KeyPath="yes" Source="SourceDir\quser.psm1" />
            </Component>
            <Component Id="cmp4F022DBCA83F2CC72B83C3C9D9E13255" Directory="dirC59B4A5EBD02923C2D2174DAF2A24F9C" Guid="*">
                <File Id="fil5F0C7F89BC6215E7166EA1A2F4AEE210" KeyPath="yes" Source="SourceDir\test.wixobj" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirC59B4A5EBD02923C2D2174DAF2A24F9C" Name="Work" />
        </DirectoryRef>
    </Fragment>
</Wix>
